<h1>Add something</h1>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 ">
      <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment %>
      <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie" %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
